{% extends 'core/base.html' %}
{% block title %}About — Class Fund Manager{% endblock %}
{% block content %}
<div class="row justify-content-center">
    <div class="col-lg-8">
        <div class="card shadow-sm border-0 mt-2">
            <div class="card-body p-4">
                <h1 class="h3 fw-bold mb-3">About Class Fund Manager</h1>
                <p class="text-muted">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga voluptatem, adipisci repellat rem deleniti
                    consectetur provident laboriosam error, non at iusto minima. Laudantium ab assumenda cum quidem, consectetur
                    pariatur quibusdam?</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
